.app {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.logo {
    height: 60px;
    width: 60px;
}

.nav-items , .nav-items > ul {
    display: flex;
}

.nav-items > ul > li {
    padding-right: 10px;
    margin-right: 10px;
    list-style-type: none;
}

.header-logo {
    height: 30px;
    width: 30px;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 10px;
}

.body {
    height: 100%;
    padding: 10px;
}

.restaurant-card {
    /* border: 1px solid rgb(209, 209, 209);
    border-radius: 20px; */
    height: 350px;
    width: 270px;
    padding: 20px;
    margin: 10px;
}

.empty-cards {
    height: 350px;
    width: 270px;
    padding: 20px;
    margin: 10px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 20px;
    background-color: rgb(233, 233, 233);
}

.restaurant-card:hover {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.restaurant-card-logo {
    height: 250px;
    width: 270px;
}

.star-logo {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

.star-rating {
    padding-top: 5px;
    display: flex;
    align-items: center;
}

.cusine {
    padding-top: 5px;
    font-style: italic;
    font-size: medium;
    word-wrap: break-word;
}

.filter {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.filter-btn {
    margin: 10px;
    background-color: rgb(239, 96, 6);
    color: white;
    border: 0;
    padding: 7px;
}
.search-box {
    display: flex;
    justify-content: center;
}

.search-bar {
    padding: 5px;
    margin-top: 10px;
    width: 700px;
    height: 45px;
    border-radius: 10px;
    border: 0.5px solid rgb(183, 183, 183);
}

.search-icon {
    margin-left: 5px;
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

.login {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.login-text {
    display: flex; /* Make the lower div a flex container */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-grow: 1;
    padding-left: 22px;
}

.errorscreen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 280px;
}

.italic-subtext {
    font-style: italic;
    color: rgb(165, 165, 165);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
}
